<h1>Articles in the Magazine</h1>
<a href="/articles/new">Add a new article</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<% @articles.each do |article| %>
		<tr>
		  <td><%= article.id %></a></td>
		  <td><a href="/articles/<%= article.id %>"><%= article.title %></td>
		  <td><%= article.content %></td>
		  <td>
		    <a href="/articles/<%= article.id %>/edit">Edit</a>
		    <form action="/articles/<%= article.id%>/delete" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" name="delete">
			</form>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
